<p>Atualizar Medico</p>

<div class="input">
    <mat-form-field class="example-full-width">
        <mat-label>CRM</mat-label>
        <span matPrefix> &nbsp;</span>
        <input type="number" matInput placeholder="CRM" [(ngModel)]='crm'>
    </mat-form-field>
    
    <button mat-button color="primary" (click)="update()">
        <mat-icon>search</mat-icon>
    </button>
    
    <p *ngIf="error.isError">{{error.errorMessage}}</p>
    
</div>

<app-update-doctor-detail *ngIf="showDoctorDetails" [doctor]='doctor'></app-update-doctor-detail>