<mat-card>
    <p>Cadastro de usuario</p>

    <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>CRM</mat-label>
        <input matInput placeholder="CRM">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha">
    </mat-form-field>

    <div class="button">
        <button mat-raised-button color="primary">Cadastrar</button>
    </div>
</mat-card>